<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal Confirmation - Deck Master</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css?v=pAGv4ietcJNk_EwsQZ5BN9-K4MuNYS2a9wl4Jw-q9D0">
    <link rel="stylesheet" href="/PayPalDemo.styles.css?v=Z-N0JhIFNaXmcDoY576bPGKZqvrTstv9l1SvuWdyNpw">
</head>
<body>
    <div b-6eg8tbgho9="" class="container">
        <div b-6eg8tbgho9="" style="text-align: center;">
            <div b-6eg8tbgho9="" class="display-6"><strong b-6eg8tbgho9="">Deck Master</strong></div>
        </div>
        <hr b-6eg8tbgho9="">
        <main b-6eg8tbgho9="" role="main" class="pb-3">


            <br>
            <br>
            <div class="text-success">
                <div class="text-center">
                    <div class="text-center">
                        <span class="text-center">
                            <span style="font-size: 2em;">Congratulations Purchaser!</span>
                            <br><br><br><br>
                            <span style="font-size: 1.4em;">
                                <span>Your $</span><span>3.55</span>
                                <span>CAD</span>
                                <span>PayPal transaction was successful.</span>
                            </span>
                        </span><br><br>
                        <span class="text-center" style="font-size: 1.2em;">Keep this transaction Id for future reference.</span>

                        <span style="color: black; font-size: 1.2em;">PAYID-MPIXJIA3WD80960RK998944A</span>
                    </div>
                </div>
            </div>




        </main>
    </div>


</body>
</html>