@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="text-align: center">
    <div class="text-center">
        <strong style="font-size: 2.5rem; font-weight: 500; color: darkred">Deck Master</strong><br />
        <strong style="font-size: 2rem; font-weight: 500; color: gray;">You won't find better</strong>
    </div>
    <hr>
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="d-flex justify-content-center "
                     style="color:crimson; font-size: 1.5em;">
                </div>

            </div>
            
            <div class="col-sm-8 col-md-4" style="padding-top:40px; color:black; width: 750px; position: relative; right: 13%">
                <p style="font-weight:bold;">Welcome to Deck Master!</p> <br />
We specialize in providing high-quality decks of cards for all your gaming and card collecting needs. Our online store offers a wide variety of decks, from standard playing cards to collectible and limited-edition decks. <br /> <br />
Our decks are made with durable materials and feature stunning designs, making them perfect for both casual and serious players. We also offer custom deck printing services to help you create your own personalized deck. <br /> <br />
Thank you for choosing Deck Master for all your card needs. Shop now and discover the perfect deck for you!<br /> <br />
                <a asp-action="index" asp-controller="Shop"><button class="btn btn-primary" style="background-color: darkred;">Shop now!</button></a>
            </div>
            <div class="col-sm-4 d-none d-md-block"></div>
        </div>
        <hr>

       
        
    </main>
</div>




